<%= render 'shared/banner', name: "#{@group.name}' Transactions", amount: @group.total_expenses%>
<% if @expenses.empty? %>
  <h6 class="p-5 text-danger">There is no Transaction for this category</h6>
<% end %>
<% @expenses.each do |expense| %>
    <div class="d-flex justify-content-between align-items-center text-center m-3 p-3 item-container">
      <div class="d-flex justify-content-between align-items-center w-100">
        <h6><%= expense.name %></h6>
        <h6 class="px-3" style="font-size: 13px; text-align: right">$<%= expense.amount %></h6>
      </div>
      <div class="d-flex">
        <%= link_to edit_group_expense_path(@group, expense), class: "btn btn-outline-primary", style: "margin-right: 10px" do %>
            <i class="fa fa-edit"></i>
          <%end%>
        <%= button_to group_expense_path(@group, expense), method: :delete, class: "btn btn-outline-danger" do %>
          <i class="fa fa-trash"></i>
        <%end%>
      </div>
    </div>
    <%end%>
  <%= render 'shared/footer'%>